{% extends 'enroll/base.html' %}
{% block content %}
<h4>
    <div class="row">
        <div class="col-sm-8">
            <h4 class = "alert alert-danger">
                Update Student Information
                <form action="" method="">
                    {% csrf_token %}
                    {{form.as_p}}
                    <input type="submit" class="btn btn-success" value="Update">
                    <a href=" {% url 'addandshow'  %}" "class="btn btn-info" >HOME</a>
                </form>
            </h4>
        </div>
    </div>
</h4> 
{% endblock content %}


